@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme('colors.slate.50');
}

h1, h2, h3 {
  font-family: var(--font-quicksand);
  font-weight: bold;
  line-height: 100%;
  color: theme('colors.slate.900');
}

h1 {
  font-size: 3.125rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-family: var(--font-inter);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: theme('colors.slate.900');
}

p.secondary {
  color: theme('colors.slate.500');
}

span {
  font-family: var(--font-quicksand);
  font-weight: normal;
  font-size: 0.875rem;
  line-height: auto;
  color: theme('colors.blue.800');
}

.animation {
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px) rotate(-2deg);
    }
  50% {
    transform: translatey(-20px) rotate(2deg);
  }
  100% {
    transform: translatey(0px) rotate(-2deg);
  }
}